body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
  color: #222;
}

nav {
  background: #004830;
  padding: 1em;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 1em;
  text-decoration: none;
  font-weight: bold;
}

header {
  text-align: center;
  padding: 2em 1em;
  background-color: #e4efe7;
}

section {
  padding: 2em 1em;
  max-width: 900px;
  margin: auto;
}

.project-card {
  background: white;
  padding: 1em;
  margin: 1em 0;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

